extends layout

block content
  h1= title
  p Welcome to #{title}, a very basic express website developed as a project for TOP NodeJS course.

  h1 Stadistics

  p The has currently has the following records: 

  ul 
    li #[strong Total items:] 9
    li #[strong Total categories:] 5
